.vs/Kruskal/v16/.suo
.vs/Kruskal/v16/Browse.VC.db
.vs/Kruskal/v16/ipch/AutoPCH/3aa79101d058c7fc/SOURCE.ipch
.vs/Kruskal/v16/ipch/AutoPCH/4f236860fd2c4770/KRUSKAL.ipch
.vs/Kruskal/v16/ipch/AutoPCH/d94981b06c7c9a58/KRUSKAL.ipch
Kruskal/Kruskal.vcxproj
Kruskal/Kruskal.vcxproj.filters
Kruskal/Kruskal.vcxproj.user
Kruskal/Debug/Kruskal.log
Kruskal/Debug/kruskal.obj
Kruskal/Debug/Source.obj
Kruskal/Debug/vc142.idb
Kruskal/Debug/vc142.pdb
Kruskal/Debug/Kruskal.tlog/CL.command.1.tlog
Kruskal/Debug/Kruskal.tlog/CL.read.1.tlog
Kruskal/Debug/Kruskal.tlog/CL.write.1.tlog
Kruskal/Debug/Kruskal.tlog/Kruskal.lastbuildstate
Kruskal/Debug/Kruskal.tlog/link.command.1.tlog
Kruskal/Debug/Kruskal.tlog/link.read.1.tlog
Kruskal/Debug/Kruskal.tlog/link.write.1.tlog
Debug/Kruskal.exe
Debug/Kruskal.ilk
Debug/Kruskal.pdb
